<h2>New phone for <%=link_to(@person.full_name,person_path(@person))%></h1>

<% if @phone.errors.any? %>
  <ul>
    <% @phone.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>