<h1>People listing</h1>

<%= render 'shared/people_list' %>

<h4>
  <div class="new_item button_actions"><%= link_to("New person",new_person_path) %></div>
  <div class="all_items button_actions"><%= link_to("All people",people_path) %></div>
</h4>
